name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

env:
  ACTION_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
  JOBS_NODE_VERSION: v22

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      actions: "read"
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetches entire history of commit

      - uses: nrwl/nx-set-shas@v3

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.JOBS_NODE_VERSION }}

      - name: echo version type
        run: echo "Version type is ${{ vars.VERSION_TYPE }}"

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

  delayed-start:
    name: Delayed Start
    runs-on: ubuntu-latest
    outputs:
      delay-complete: ${{ steps.delay.outputs.delay-complete }}
    steps:
      - name: Wait for required status checks
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: "Build"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30

  version-and-publish:
    needs: delayed-start
    name: Version and Publish
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/version-and-publish.yml
    with:
      version-type: ${{ vars.VERSION_TYPE }}
    secrets: inherit
