name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

env:
  ACTION_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
  JOBS_NODE_VERSION: v22
  VERSION_TYPE: patch

jobs:
  env:
    name: Set Environment Variables
    runs-on: ubuntu-latest
    outputs:
      VERSION_TYPE: ${{ steps.set-vars.outputs.VERSION_TYPE }}
    steps:
      - name: Set VERSION_TYPE
        id: set-vars
        run: |
          echo "VERSION_TYPE=${{ github.event.inputs.version-type || 'patch' }}" >> $GITHUB_OUTPUT
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      actions: "read"
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetches entire history of commit

      - uses: nrwl/nx-set-shas@v3

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.JOBS_NODE_VERSION }}

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

  version-and-publish:
    name: Version and Publish
    needs: [env]
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/version-and-publish.yml
    with:
      version-type: ${{ jobs.env.outputs.VERSION_TYPE }}
    secrets: inherit
